<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS0HKgYwkvoOhWu7H1YrdtdL11HZrzzDg</string>
	<key>GCM_SENDER_ID</key>
	<string>255709702144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytearray.fb.flutter.notifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-3f62f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-3f62f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255709702144:ios:15962480c7c3ac399a50e5</string>
</dict>
</plist>